*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divExpand{
    width: 336px;
    height: 109px;
    background-color: coral;
    overflow: hidden;
}

#plus{
    visibility: hidden;
    width: 100%;
    height: 341px;
}
