*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divExpand{
    width: 20vw;
    height: fit-content;
    background-color: coral;
    overflow: hidden;
}

#plus{
    display: none;
}
