*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#contFull{
    width: 70vw;
    height: 70vh;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contVign{
    width: 70vw;
    height: 20vh;
    background-color: dimgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#vignette>img{
    width: 100%;
    padding: 5px;
}

#vignette>img:hover{
    transform: scale(1.03);
}